<div class="row">
    <div class="col-12 col-sm-6 col-lg-8 mb-5">
        <h1 class="mb-4">About</h1>
        <p>Text hello world</p>
        <p>Text hello world</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/portrait.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Andreas Aeschlimann</h5>
                <p class="card-text">Bernoullistrasse 32<br/>4056 Basel<br/>Switzerland</p>
                <p class="card-text">Room 022B</p>
                <p class="card-text"><a href="mailto:a.aeschlimann@unibas.ch">a.aeschlimann@unibas.ch</a></p>
            </div>
        </div>
    </div>
</div>