<div class="row">
    <div class="col-12 col-sm-6 col-lg-8 mb-5">
        <h1 class="mb-4">About</h1>
        <h4 class="mt-4">This project</h4>
        <p>
            Using the Fourier transform, one is able to determine frequencies that are present in the whole spatial domain.
            Unfortunately, it is not possible to say at which location the frequencies appear.
            In 1946, the Hungarian-born electrical engineer Dennis Gabor had the idea to modify the Fourier transform by adding a shifted window function g into the integral.
            From these modifications, the windowed Fourier transform&mdash;also known as the Gabor transform&mdash;was born.
        </p>
        <p class="text-indent">
            Adjusting the equation of the Gabor transform, we may derive a different formulation that is a convolution of the original function and some other function.
            This other function is called Gabor filter (or function) and became well-known in image analysis.
            Interestingly, authors like John Daugman suggest that simple cells in the visual cortex of mammalian brains can be modeled by Gabor filters.
            As of today, Gabor filters have been used in image analysis, image compression, object recognition, medical diagnostics, and many more fields.
        </p>
        <p class="text-indent">
            The author of this web page has studied the Gabor transform in the course of his Master's Thesis at <a href="https://www.unibas.ch">University of Basel</a>.
            The thesis has been supervised by <a href="http://cm.dmi.unibas.ch/">Prof. Dr. Helmut Harbrecht</a> (Mathematical Institute) and <a href="http://dhlab.unibas.ch">Prof Dr. Lukas Rosenthaler</a> (Digital Humanities).
            While the thesis is mainly focused on the theoretical part and the derivation of the Gabor transform and Gabor filters, this web application is meant to be a simple tool in order to apply the theory.
        </p>
        <p class="text-indent">
            The thesis may be downloaded here: <a href="assets/docs/GaborTransform.pdf">Gabor Transform and Vision</a>. All related source codes may be found on GitHub: <a href="https://github.com/andreas-aeschlimann/gabor">GitHub</a>.
        </p>
        <h4 class="mt-4">The author</h4>
        <p>
            Andreas Aeschlimann studied <a href="https://www.dmi.unibas.ch/">mathematics</a> at University of Basel, Switzerland.
            After being active with teaching at the <a href="https://www.dmi.unibas.ch/">Mathematical Institute</a>, he worked as a scientific researcher at the <a href="http://dhlab.unibas.ch/">Digital Humanities Lab</a>.
        </p>
        <p class="text-indent">
            During his studies, he also invested a lot of time in software development:
            Working for <a href="http://www.nexirius.com">Nexirius GmbH</a>, he gained experience in management and development.
            One of the apps Aeschlimann developed is called <a href="https://www.rotblauapp.ch">Rotblau</a>, which is one of the most successful local apps in Switzerland.
            Later on, he founded his own software company <a href="https://www.appvision.ch">AppVision GmbH</a>, which concentrates on developing modern web applications and apps for business customers.
        </p>
        <p class="text-indent">
            As of 2021, Andreas Aeschlimann is CEO of <a href="https://www.appvision.ch">AppVision GmbH</a> and spending most of his time developing web applications.
        </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/portrait.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Andreas Aeschlimann</h5>
                <p class="card-text">CEO AppVision GmbH</p>
                <p class="card-text">Christoph Merian-Ring 11<br/>4153 Reinach<br/>Switzerland</p>
                <p class="card-text"><a href="mailto:andreas@appvision.ch">andreas@appvision.ch</a></p>
            </div>
        </div>
    </div>
</div>
