<div class="row">
    <div class="col-12 col-sm-6 col-lg-8 mb-5">
        <h1 class="mb-4">Gabor Filter Demo</h1>

        <h4 class="mt-4 mb-3">Input image</h4>
        <canvas width="1024" height="1024"></canvas>

        <h4 class="mt-4 mb-3">Output image</h4>
        <canvas width="1024" height="1024"></canvas>

    </div>
    <div class="col-12 col-sm-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/links.jpg" alt="Logo">
            <div class="card-body">
                <h5 class="card-title">Upload input image</h5>
                <p class="card-text">Define .</p>
            </div>
            <div class="list-group list-group-flush">
                <div class="list-group-item">
                    <p class="card-text">Upload input image</p>
                    <div class="form-group row">
                        <label for="input" class="col-12 col-form-label">Upload</label>
                        <div class="col-12">
                            <input type="file" class="form-control" id="input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group list-group-flush">
                <div class="list-group-item">
                    <p class="card-text">Below you may find external links to get started on Gabor filters.</p>
                    <div class="form-group row">
                        <label for="alpha" class="col-12 col-form-label">Alpha</label>
                        <div class="col-12">
                            <input type="number" class="form-control" id="alpha">
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group list-group-flush">
                <div class="list-group-item">
                    <button class="btn btn-primary">Generate</button>
                </div>
            </div>
        </div>
    </div>
</div>

<p><ngb-progressbar [showValue]="true" type="info" [value]="50"></ngb-progressbar></p>